
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.ant-btn-primary {
  background-color: #1677ff!important;
}
body {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  body {
    font-family: 'Poppins';
    background-color: #F1F1F1;
    /* font-family: 'Poppins', sans-serif; */


  }
}

@layer components {
  .card {
    @apply
    bg-white text-gray-700
    
    shadow-lg rounded-md overflow-hidden
  }

  .card2 {
    @apply
    bg-white text-gray-700
    w-full 
    shadow-lg rounded-md overflow-hidden
  }

 .badge {
    @apply
     rounded-full text-xs
  }
  /* .badgeR {
    @apply
    px-3 py-1 rounded-full text-xs 
  }  */

  .hotel-title{
    @apply
    font-semibold text-2xl
    overflow-ellipsis overflow-hidden whitespace-nowrap 
  }

  .button-primary{
    @apply
    bg-[#131828] hover:bg-[#1C2953]
    px-6 py-2 rounded-md
    text-white font-medium
    tracking-wider transition
  }

  .button-primary1{
    @apply
    bg-[#131828] hover:bg-[#1C2953]
    px-3 py-2 rounded-md
    text-white text-xs
    tracking-wider transition
    
  }

  .button-icon {
    @apply
    flex-grow
    flex justify-center items-center 
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-with-currency {
  position: relative;
}

.input-currency-symbol {
  position: absolute;
  /* top: 50%;
  transform: translateY(-50%);
  left: 0.5em;
  pointer-events: none; */
}




